/* 横向き */
@media screen and (orientation: landscape) {
  .side-content {
    width: 10%;
  }

  #sidebar {
    width: 10%;
    z-index: 1;
  }
}

/* 縦向き */
@media screen and (orientation: portrait) {
  #sidebar {
    height: 100vh;
  }

  .open-sidebar-button {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

/* common */
.container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 1em;
}

.app-home {
  padding: 3em;
}

.app-name {
  text-align: center;
}

.app-desc {
  margin-top: 3em;
}

.search-text {
  width: 50%;
}

.search-button {
  margin-left: 1em;
}

.search-result {
  margin-top: 2em;
}

.hit-note:hover {
  opacity: 0.8;
}

.updated-at {
  margin-bottom: 1em;
}

.pagination {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.post-complete {
  display: flex;
  justify-content: center;
}
