.container {
  display: flex;
}

.side-content {
  width: 10%;
}

.main-content {
  flex: 1;
  padding: 1em;
}

.home {
  text-align: center;
}

.home-without-auth {
  padding: 5em;
  text-align: center;
}

.login-button {
  margin-top: 1em;
}

#sidebar {
  width: 10%;
  z-index: 1;
}

.search-text {
  width: 50%;
}

.search-button {
  margin-left: 1em;
}

.search-result {
  margin-top: 2em;
}

.hit-note:hover {
  opacity: 60%;
}

.updated-at {
  margin-bottom: 1em;
}

.pagination {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.post-complete {
  display: flex;
  justify-content: center;
}
